<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>

<body>
	<form th:action="@{/inventarios/ingresar}" th:object="${inventario}" method="POST">
		<table>
			<tr>
				<td>
					<label>numero de Bodega:</label>
				</td>

				<td>
					<input type="text" id="numero" th:field="${inventario.numero}">
				</td>
			</tr>

			<tr>
				<td>
					<label>Codigo de Barras Maestro:</label>
				</td>
				<td>
					<input type="text" id="codigoB" th:field="${inventario.codigoBIndividual}">
				</td>
			</tr>

			<tr>
				<td>
					<label>Cantidad:</label>
				</td>
				<td>
					<input type="text" id="cantidad" th:field="${inventario.id}">
				</td>
			</tr>
		</table>
		<input class="btn btn-primary" type="submit" value="Ingresar">
	</form>
</body>

</html>